<%= form_for @yokohama do |f| %>
 
  <div class="field">
    <%= f.label :ホーム  %>
    <%= f.select :home, 
    [["横浜DeNAベイスターズ", "横浜DeNAベイスターズ"], 
    ["阪神タイガース", "阪神タイガース"], 
    ["読売ジャイアンツ", "読売ジャイアンツ"],
    ["広島東洋カープ", "広島東洋カープ"],
    ["東京ヤクルトスワローズ", "東京ヤクルトスワローズ"],
    ["中日ドラゴンズ", "中日ドラゴンズ"],
    ["埼玉西武ライオンズ", "埼玉西武ライオンズ"],
    ["福岡ソフトバンクホークス", "福岡ソフトバンクホークス"],
    ["北海道日本ハムファイターズ", "北海道日本ハムファイターズ"],
    ["千葉ロッテマリーンズ", "千葉ロッテマリーンズ"],
    ["楽天イーグルス", "楽天イーグルス"],
    ["オリックスバファローズ", "オリックスバファローズ"]], 
    include_blank: "選択して下さい" %>
  </div>

  <div class="field">
    <%= f.label :アウェー  %>
    <%= f.select :away, 
     [["横浜DeNAベイスターズ", "横浜DeNAベイスターズ"], 
    ["阪神タイガース", "阪神タイガース"], 
    ["読売ジャイアンツ", "読売ジャイアンツ"],
    ["広島東洋カープ", "広島東洋カープ"],
    ["東京ヤクルトスワローズ", "東京ヤクルトスワローズ"],
    ["中日ドラゴンズ", "中日ドラゴンズ"],
    ["埼玉西武ライオンズ", "埼玉西武ライオンズ"],
    ["福岡ソフトバンクホークス", "福岡ソフトバンクホークス"],
    ["北海道日本ハムファイターズ", "北海道日本ハムファイターズ"],
    ["千葉ロッテマリーンズ", "千葉ロッテマリーンズ"],
    ["楽天イーグルス", "楽天イーグルス"],
    ["オリックスバファローズ", "オリックスバファローズ"]], 
    include_blank: "選択して下さい" %>
  </div>
 
 <div class="field">
  <%= f.label :ホーム点数  %>
  <%= f.number_field :hscore, :size => 10 %>
 </div>

 <div class="field">
    <%= f.label :アウェイ点数  %>
    <%= f.number_field :ascore, :size => 10 %>
  </div>
  
  <div class="field">
    <%= f.label :感想  %>
    <%= f.text_area :about, :size => "30x2" %>
  </div>

  <div class="field">
    <%= f.label :課題点  %>
    <%= f.text_area :task, :size => "30x2" %>
  </div>
  
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  
  
  <%= f.submit "編集する" %>
<% end %>
  
  
<%= link_to "一覧に戻る", yokohamas_path %>