選手・監督紹介<br>
<div class=sennsyu>
    <h2 class="name">監督</h2>
    <div class="b">
        <div class="a"> 
            <%=image_tag '三浦大輔.jpg', size:"210×210" %><br>
            <%= link_to "81 三浦大輔", yokohamas_miura_path %>
        </div>
        
        
        
       
    </div> 
    <h2 class="name">投手</h2>
    <div class="b">
        <div class="a"> 
            <%=image_tag '東.jpg', size:"210×210" %><br>
            11 東克樹
        </div>
        <div class="a"> 
            <%=image_tag '伊勢.jpg', size:"210×210" %><br>
            13 伊勢大夢
        </div>
        <div class="a"> 
            <%=image_tag '大貫.jpg', size:"210×210" %><br>
            16 大貫晋一
        </div>
        <div class="a"> 
            <%=image_tag '康晃.jpg', size:"210×210" %><br>
            19 山﨑康晃
        </div>
        <div class="a"> 
        <%=image_tag '千隼.jpg', size:"210×210" %><br>
            41 佐々木千隼
        </div>
        <div class="a"> 
        <%=image_tag 'ジャクソン.jpg', size:"210×210" %><br>
            42 ジャクソン
        </div>
        <div class="a"> 
            <%=image_tag '森原.jpg', size:"210×210" %><br>
            45 森原康平
        </div>
        <div class="a"> 
            <%=image_tag 'ウェンデルケン.jpg', size:"210×210" %><br>
            49 ウェンデルケン
        </div>
        <div class="a"> 
            <%=image_tag '颯.jpg', size:"210×210" %><br>
            53 中川颯
        </div>
        <div class="a"> 
        <%=image_tag '裕太郎.jpg', size:"210×210" %><br>
            54 石田裕太郎
        </div>
        <div class="a"> 
        <%=image_tag 'ウィック.jpg', size:"210×210" %><br>
            62　ウィック
        </div>
        <div class="a"> 
            <%=image_tag 'こお.jpg', size:"210×210" %><br>
            64　中川虎大
        </div>
        <div class="a"> 
            <%=image_tag 'ケイ.jpg', size:"210×210" %><br>
            69 ケイ
        </div>
    </div>
    <h2 class="name">捕手</h2>
    <div class="b">
        <div class="a"> 
            <%=image_tag '松尾.jpg', size:"210×210" %><br>
            5 松尾汐恩
        </div>
        <div class="a"> 
        <%=image_tag '戸柱.jpg', size:"210×210" %><br>
            10 戸柱恭孝
        </div>
        <div class="a"> 
        <%=image_tag '伊藤.jpg', size:"210×210" %><br>
            29　伊藤光
        </div>
        <div class="a"> 
            <%=image_tag '山本.jpg', size:"210×210" %><br>
            50　山本裕大
        </div>
    </div>
    <h2 class="name">内野手</h2>
    <div class="b">
        <div class="a"> 
            <%=image_tag '林.jpg', size:"210×210" %><br>
            00　林琢真
        </div>
        <div class="a"> 
            <%=image_tag '牧.jpg', size:"210×210" %><br>
            2 牧秀悟
        </div>
        <div class="a"> 
            <%=image_tag 'オースティン.jpg', size:"210×210" %><br>
            3 オースティン
        </div>
        <div class="a"> 
        <%=image_tag '敬斗.jpg', size:"210×210" %><br>
            6 森敬斗
        </div>
        <div class="a"> 
        <%=image_tag '大和.jpg', size:"210×210" %><br>
            9 大和
        </div>
        <div class="a"> 
            <%=image_tag '柴田.jpg', size:"210×210" %><br>
            31　柴田竜拓
        </div>
        <div class="a"> 
            <%=image_tag '宮崎.jpg', size:"210×210" %><br>
            51 宮崎敏郎
        </div>
        <div class="a"> 
            <%=image_tag '井上.jpg', size:"210×210" %><br>
            55 井上絢登
        </div>
        <div class="a"> 
        <%=image_tag '知野.jpg', size:"210×210" %><br>
            60 知野直人
        </div>
        <div class="a"> 
        <%=image_tag '京田.jpg', size:"210×210" %><br>
            98 京田陽太
        </div>
    </div>
    <h2 class="name">外野手</h2>
    <div class="b">
        <div class="a"> 
            <%=image_tag '大田.jpg', size:"210×210" %><br>
            0 大田泰示
        </div>
        <div class="a"> 
            <%=image_tag '桑原.jpg', size:"210×210" %><br>
            1 桑原将志
        </div>
        <div class="a"> 
            <%=image_tag '度会.jpg', size:"210×210" %><br>
            4 度会隆輝
        </div>
        <div class="a"> 
            <%=image_tag '佐野.jpg', size:"210×210" %><br>
            7 佐野恵太
        </div>
        <div class="a"> 
            <%=image_tag '神里.jpg', size:"210×210" %><br>
            8 神里和毅
        </div>
        <div class="a"> 
            <%=image_tag '筒香.jpg', size:"210×210" %><br>
            25 筒香 嘉智
        </div>
        <div class="a"> 
            <%=image_tag '楠本.jpg', size:"210×210" %><br>
            42 楠本 泰史
        </div>
        <div class="a"> 
            <%=image_tag '梶原.jpg', size:"210×210" %><br>
            58 梶原昂希
        </div>
        <div class="a"> 
            <%=image_tag '蝦名.jpg', size:"210×210" %><br>
            61 蝦名達夫
        </div>
        <div class="a"> 
            <%=image_tag '関根.jpg', size:"210×210" %><br>
            63 関根大気
        </div>
    </div>
</div>