<div class="title">
      
       <%=image_tag 'DeNA ロゴ.jpg', size:"400×400" %><br>
       



</div>
<br>
       <div class="slideshow1">    
              <div class="slideshow-image" style="background-image: url('<%= asset_path 'ベイスターズ　風景1.jpg' %>');"></div>
              <div class="slideshow-image" style="background-image: url('<%= asset_path 'ベイスターズ　風景2.jpg' %>');"></div>
              <div class="slideshow-image" style="background-image: url('<%= asset_path 'ベイスターズ　風景3.jpg' %>');"></div>
              
       </div>

       <%=image_tag '横浜　ポエム.jpg', size:"1250×500" %><br>
       <div class="center">
       
              <div class="result">
              <div class="e">
                            <div class="box26">
                                   <span class="box-title">予定表</span>
                                   <p><div class="a"> 
                                   <%= link_to yokohamas_schedule_path do %>
                                   <%= image_tag '予定表　アイコン.jpg', size:"70×70", alt: "vv", class: "image" %>
                                   <% end %>
                                   <br>
                                   <%= link_to '予定表', yokohamas_schedule_path %>
                                   </br>      </p>
                                   </div>      
                            
                            </div>
                     <div class="box262">
                            <span class="box-title">試合結果</span>
                            <% if @yokohama.present?>
                            <div class="game result">
                                   <p> <%= @yokohama.home %>
                                   <%= @yokohama.away %>
                                   <%= @yokohama.hscore %> -
                                   <%= @yokohama.ascore %><br>
                                   <div class="link2">
                                          <%= link_to "詳細へ", yokohamas_path %>
                                   </div></p>
                            </div>
                                   <%end%>
                     </div>
              </div>
                     
                     
                     
                     
              </div>

              <br>
              <div class="slideshow2">    
                     <div class="slideshow-image2" style="background-image: url('<%= asset_path 'ハイライト1.jpg' %>');"></div>
                     <div class="slideshow-image2" style="background-image: url('<%= asset_path 'ハイライト2.jpg' %>');"></div>
                     <div class="slideshow-image2" style="background-image: url('<%= asset_path 'ハイライト3.jpg' %>');"></div>
                     
              </div>
       </div>
       </br>
     